<!DOCTYPE html>
<html>
<head>
    <title>Batalla naval</title>
    <style>
		*{background-color: #B4DEF8}
		.titulo2{position: absolute;
		        top: 40%;
		        left: 10%;
		        font-size: 100%;
		        font-family: Impact;
		        color: #228097;
		    	background: transparent;}
        .box{position: absolute;
		        top: 25%;
		        left: 26%;
		        height: 300px;
		        width: 650px;
		        background-color: white;
		    	border: solid;}
    </style>
</head>
<body>
    <div class="box">
    <div class="titulo2">{{ mensaje }}</div>
    </form></div>
</body>
</html>
